<h1>
    Upload File AWS S3
</h1>
<form method="post" enctype="multipart/form-data">
    <label>Seleccione un fichero</label>
    <input type="file" name="file" class="form-control"/>
    <button class="btn btn-info">
        Subir fichero
    </button>
    <h1 style="color:blue">
        @ViewData["MENSAJE"]
    </h1>
</form>