@{
    ViewData["Title"] = "Home Page";
}

@model Persona

<div class="text-center">
    <h1 class="display-4">
        Cambiando el dibujo
    </h1>
    <h1 style="color:blue">
        @Model.Nombre, @Model.Apellidos, @Model.Edad
    </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">
        building Web apps with ASP.NET Core</a>.</p>
</div>
